In [1]:
import requests
import pandas as pd

In [2]:
sb_item = requests.get("https://www.sciencebase.gov/catalog/item/57026390e4b0328dcb810247?format=json&fields=files").json()

In [3]:
[f for f in sb_item["files"] if f["contentType"] == "text/csv"]

[{'cuid': None,
  'key': None,
  'bucket': None,
  'published': None,
  'node': None,
  'name': 'Wabash_Data.csv',
  'title': '',
  'contentType': 'text/csv',
  'contentEncoding': None,
  'pathOnDisk': '__disk__02/a2/12/02a212d6a4667b55b2ab9d2972a4aa425a6b5216',
  'processed': False,
  'processToken': None,
  'imageWidth': None,
  'imageHeight': None,
  'size': 80884,
  'dateUploaded': '2016-04-04T12:50:56Z',
  'originalMetadata': False,
  'useForPreview': False,
  's3Object': None,
  'checksum': None,
  'url': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__02%2Fa2%2F12%2F02a212d6a4667b55b2ab9d2972a4aa425a6b5216',
  'downloadUri': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__02%2Fa2%2F12%2F02a212d6a4667b55b2ab9d2972a4aa425a6b5216',
  'viewUri': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__02%2Fa2%2F12%2F02a212d6a4667b55b2ab9d2972a4aa425a6b5216&allowOpen=true'},
 {'cuid': None,
  'key': None,
  'bucket': None,
  'published': None,
  'node': None,
  'name': 'Wabash_Standards.csv',
  'title': '',
  'contentType': 'text/csv',
  'contentEncoding': None,
  'pathOnDisk': '__disk__cf/d3/81/cfd381e40adb1a4bc9c1bcd94a3527f823778143',
  'processed': False,
  'processToken': None,
  'imageWidth': None,
  'imageHeight': None,
  'size': 8246,
  'dateUploaded': '2016-04-04T12:50:56Z',
  'originalMetadata': False,
  'useForPreview': False,
  's3Object': None,
  'checksum': None,
  'url': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__cf%2Fd3%2F81%2Fcfd381e40adb1a4bc9c1bcd94a3527f823778143',
  'downloadUri': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__cf%2Fd3%2F81%2Fcfd381e40adb1a4bc9c1bcd94a3527f823778143',
  'viewUri': 'https://www.sciencebase.gov/catalog/file/get/57026390e4b0328dcb810247?f=__disk__cf%2Fd3%2F81%2Fcfd381e40adb1a4bc9c1bcd94a3527f823778143&allowOpen=true'}]

In [5]:
sample_file_url = next((f["url"] for f in sb_item["files"] if f["contentType"] == "text/csv" and f["name"] == "Wabash_Data.csv"), None)

In [6]:
df_wabash_data = pd.read_csv(sample_file_url)

In [7]:
df_wabash_data.head()

  Pos Sample  Ct.FAM  DAY      SITE Analysis.Date      Copies
0  A1    01A   33.83  149  Americus     19-Jul-13  240.544471
1  B1    01A   34.80  149  Americus     19-Jul-13  121.392436
2  A2    02A     NaN  149  Americus     19-Jul-13         NaN
3  B2    02A   36.10  149  Americus     19-Jul-13   48.545096
4  A3    03A   34.95  149  Americus     19-Jul-13  109.210203